<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="flutter.curiosity"
          xmlns:tools="http://schemas.android.com/tools">

    <application
            android:networkSecurityConfig="@xml/network_config"
            android:requestLegacyExternalStorage="true"
            android:usesCleartextTraffic="true"
            tools:targetApi="n">
        <provider
                android:name="androidx.core.content.FileProvider"
                android:authorities="${applicationId}.provider"
                android:exported="false"
                android:grantUriPermissions="true">
            <meta-data
                    android:name="android.support.FILE_PROVIDER_PATHS"
                    android:resource="@xml/file_paths"/>
        </provider>
    </application>

</manifest>
