<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="flutter.curiosity">

    <!--允许程序使用相机-->
    <uses-permission android:name="android.permission.CAMERA" />
    <!--允许程序写入本地存储-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!--允许程序读取本地存储-->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!--允许程序打开闪光灯-->
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <!--允许程序打开网络-->
    <uses-permission android:name="android.permission.INTERNET" />
    <!--允许程序访问有关GSM网络信息-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!--允许程序防止休眠-->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!--允许程序拨打电话-->
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <!--允许程序安装应用程序-->
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <application
        android:networkSecurityConfig="@xml/network_config"
        android:requestLegacyExternalStorage="true"
        android:usesCleartextTraffic="true"
        tools:targetApi="n">
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>
